@import 'variables';
@import 'mixin';
    
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "IM Fell French Canon SC", serif;
}
   
main {
    width: 100%;
    height: 100vh;
    background: $bg-color;
    @include flexCenter(center);
}

.form-container {
    width: 59.5625rem;
    height: 33.75rem;
    padding: 3rem;
    padding-right: calc(50% + 3rem);
    border-radius: 1.25rem;
    border: 1px solid $primary-color;
    overflow: hidden;
    position: relative;
    background: $bg-color;
}

.title-form {
    color: $primary-color;
    font-size: clamp(1.5rem, 3vw, 2rem);
    font-weight: 400;
    margin-bottom: 1.20rem;
}

.dropdown{
    width: 100%;
    position: relative;
}

.dropdown *{
    box-sizing: border-box;
}

.dropdown label {
    color: $primary-color;
    font-size: 1.125rem;
}

.select {
    padding: 0.94rem;
    padding-left: 4.065rem;
    margin-top: 0.62rem;
    border-radius: 0.625rem;
    border: 1px solid $primary-color;
    color: $primary-color;
    font-size: 1.125rem;
    overflow: hidden;
    position: relative;
    background: $bg-color;
    @include flexCenter(space-between);
    cursor: pointer;
    transition: 0.3s;
}

.select-clicked {
    border: 1px solid $primary-colorHover;
}

.select:hover{
    border: 1px solid $primary-colorHover;
    background: $bg-colorHover;
}

.icon-style {
    padding: 0.96rem;
    top: 0;
    left: 0;
    background: $primary-color;
    position: absolute;
    transition: 0.3s;
}

.select:hover .icon-style{
    background: $primary-colorHover;
}

.icon-style i {
    width: 100%;
    height: 100%;
    font-size: 1.40rem;
    color: $bg-color;
    @include flexCenter(center);
}

.icon-style-clicked{
    background: $primary-colorHover;
}

.icon-drop {
    transition: 0.3s;
}

.icon-drop i {
    font-size: 1.125rem;
    color: $primary-color;
}

.icon-drop-rotate{
    transform: rotate(180deg);
}

.menu {
    width: 100%;
    padding: 0.625rem;
    top: 6rem;
    border: 1px solid $primary-color;
    border-radius: 0.625rem;
    list-style: none;
    font-size: 1.125rem;
    color: $primary-color;
    background: $bg-color;
    position: absolute;
    z-index: 1;
    display: none;
    opacity: 0;
}

.menu-open {    
    display: block;
    opacity: 1;
}

.menu li {
    padding: 0.85rem;
    margin: 0.313rem;
    border-radius: 0.313rem;
    transition: 0.3s;
}

.menu li:hover {
    color: $bg-color;
    background: $primary-color;
}

.input-form input {
    font-family: "IM Fell French Canon", serif;

}

.input-form label {
    color: $primary-color;
    font-size: 1.125rem;
}

.input-form:first-child {
    margin-right: 1rem;
}

.user {
    display: flex;
    margin-top: 1.44rem;
}

.user input {
    width: 100%;
    padding: 0.94rem;
    border-radius: 0.625rem;
    border: 1px solid $primary-color;
    font-size: 1.125rem;
    background: $bg-color;
    color: $primary-color;
    outline: none;
    margin-top: 0.62rem;
    transition: 0.3s;
}

.user input::-webkit-inner-spin-button { 
    -webkit-appearance: none;
}

.user input:hover{
    border: 1px solid $primary-colorHover;
    background: $bg-colorHover;
}

.title-type {
    margin: 1.20rem 0;
    font-size: clamp(1.25rem, 2vw, 1.5rem);
    font-weight: 400;
    color: $primary-color;
}

.checkbox {
    display: flex;
    color: $primary-color;
}

.input-form2 {
    width: 100%;
    padding: 0.94rem 1.563rem;
    background: $bg-color;
    border-radius: 0.625rem;
    border: 1px solid $primary-color;
    font-size: 1.125rem;
    transition: 0.3s;
    position: relative;
}

input[type=checkbox] {
    position: relative;
    top: -2px;
    left: -8px;
    cursor: pointer;
}
  
input[type=checkbox]:before {
    content: "";
    display: block;
    position: absolute;
    width: 1.0625rem;
    height: 1.0625rem;
    top: 0;
    left: 0;
    border-radius: 0.1875rem;
    border: 1px solid $primary-color;
    background: $bg-color;
}
  
input[type=checkbox]:checked:after {
    content: "";
    display: block;
    width: 1.188rem;
    height: 1.188rem;
    position: absolute;
    border-radius: 0.1875rem;
    background: $primary-color;
    transition: 0.3s;
}


.input-form2:hover{
    border: 1px solid $primary-colorHover;
    background: $bg-colorHover;
}

.input-form2:first-child {
    margin-right: 1rem;
}

.btn-simular {
    width: 15.9375rem;
    padding: 0.5625rem 1.313rem;
    font-size: 1.5rem;
    border-radius: 1.25rem;
    border: none;
    margin-top: 1.20rem;
    background: $secondary-gradient;
    transition: 0.3s;
}

.btn-simular:hover{
    background: $gradientHover;
}

.result{
    width: 50%;
    height: 100%;
    top: 0;
    right: 0;
    background: $primary-gradient;
    border-radius: 0rem 0rem 0rem 3.75rem;
    position: absolute;
}

.result-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 3rem;
}

.title-result {
    color: $bg-color;
    font-size: 3.5rem;
    font-weight: 400;
}

.simulation-result {
    width: 10rem;
    margin: 2.75rem 0 3.56rem 0;
}

.simulation-result h1 {
    font-weight: 400;
    font-size: clamp(3rem, 6vw, 3.5rem);
    color: $bg-color;
}

.simulation-result span {
    font-family: "Alike", serif;
    font-weight: 400;
    color: $bg-color;
}

.atencion h4 {
    font-size: 1.25rem;
    font-weight: 400;
    text-align: center;
    margin-bottom: 0.25rem;   
    color: $bg-color;
}

.atencion p {
    width: 22.125rem;
    text-align: center;
    font-size: 0.9375rem;
    font-family: "IM FELL French Canon";
    color: $bg-color;
    position: relative;
}

.atencion p::after {
    content: "";
    width: 90%;
    height: 1px;
    text-align: center;
    display: inline-block;
    background: $bg-color;
    position: relative;
    top: -5px;
}

.btn-whatsapp {
    width: 15.9375rem;
    padding: 0.5625rem 1.313rem;
    font-size: 1.5rem;
    border-radius: 1.25rem;
    border: none;
    background: $bg-color;
    color: $primary-color;
    transition: 0.3s;
}

.btn-whatsapp:hover{
    color: $primary-colorHover;
    background: $bg-colorHover;
}

